// 颜色定义规范
//// 主基调
$color-orange = #FF7F41
$color-regular-blue = #041F47
$color-background = #f3f4f5
$color-background-grew = #e8864c
$color-title-background = #f7f7f7

//// 文字信息
$color-orange-t = #EB6F36
$color-green-t = #219E81
$color-dark-grey = #333
$color-grey = #666
$color-light-grey = #999
$color-light-grey-s = #ccc
$color-light-grey-ss = #eee
$color-light-grey-sss = #f3f4f5
$color-white = #fff
//// 其他辅色
$color-green = #29B395
$color-blue = #4E83FF
$color-red = #FF5A54
$color-yellow = #FFBC57

////// 灰色
$color-light-grey-bg = #e1e6eb
$color-brighten-grey-gb = #D1D7E1
////// 橘色
$color-dark-orange = #f08250
$color-light-orange = #fc9153
$color-grey-orange = #ffc4a6

////// 黄色
$color-dark-yellow = #ffd00b
$color-light-yellow = #ffe650
$color-grey-yellow = #ffedb4
$color-rate-active-yellow = #F7BA2A

////// 红色
$color-dark-red = #bd2630
$color-light-red = #db2a36
$color-grey-red = #ff525d

////// 粉色
$color-dark-pink = #aa337a
$color-light-pink = #d24b82
$color-grey-pink = #ef65ab

////// 紫色
$color-dark-purple = #48296d
$color-light-purple = #6a2d8e
$color-grey-purple = #af72c5

////// 黄绿色
$color-dark-greenyellow = #8bb93f
$color-light-greenyellow = #bfd141
$color-grey-greenyellow = #d5e08c

////// 深绿
$color-dark-deepgreen = #1b733e
$color-light-deepgreen = #50a050
$color-grey-deepgreen = #80c075

////// 深青色
$color-dark-cyan = #018172
$color-light-cyan = #28aa91
$color-grey-cyan = #71c3bc

////// 藏青色
$color-dark-cadetblue = #256ea8
$color-light-cadetblue = #3ca0e6
$color-grey-cadetblue = #96caf0

////// 蓝色
$color-dark-blue = #233c64
$color-light-blue = #1e4191
$color-grey-blue = #6e82d7

//// 分割线

$color-dark-line = rgba(0, 0, 0, .1)
$color-grey-line = rgba(0, 0, 0, .08)
$color-light-line = rgba(0, 0, 0, .04)

/// click & touch active background-color
$color-active-light-orange = rgba(252, 145, 83, .04)
$color-active-light-gray = rgba(0, 0, 0, .04)

/// click & touch active color
$color-active-light-orange-fe = #fdc2a5
$color-active-light-gray-fe = #c2c2c2

/// mask background-color
$color-mask-bgc = rgba(37, 38, 45, .4)

// 字体大小定义规范
$fontsize-large-xxxx = 60rpx
$fontsize-large-xxx = 48rpx
$fontsize-large-xx = 40rpx
$fontsize-large-x = 36rpx
$fontsize-large = 32rpx
$fontsize-medium = 28rpx
$fontsize-small = 24rpx
$fontsize-small-s = 20rpx

/// 重要内容区阴影
$box-shadow-important = 0rpx 8rpx 20rpx 0rpx rgba(9, 40, 71, 0.16)
// 普通内容卡片阴影
$box-shadow-normal = 0 4rpx 6rpx 0 rgba(9, 40, 71, 0.08)
// 顶部卡片阴影
$box-shadow-top-card = 0rpx 6rpx 12rpx 0rpx rgba(9, 40, 71, 0.08)
// 底部卡片阴影
$box-shadow-bottom-card = 0 8rpx 28rpx 0 rgba(9,40,71,0.20)

// picker 左右padding
$picker-lf-padding = 40rpx

// 圆角
$border-radius-regular = 20rpx

